login{

    ion-card-title{
        background-color: #4786b9;
        color: white !important;
        font-style: bolder;
        font-size: 16px !important;
    }

    ion-content {
        padding: 5px;
    }

    .card{
        margin-top: 30%;
    }

    .text-danger{
        color: maroon;
        font-size: 14px;
        margin-left: 5%;
    }

    @media only screen and (min-width: 768px) {
        .card{
            margin-top: 10%;
        }
    }
}