page-login{
    ion-navbar {
        min-height: 45px !important;
    }

    ion-content {
        background-image: linear-gradient(to bottom, #ffffff, #fbfbfd, #f7f8fb, #f3f4fa, #eef1f8);
    }

    .pos{
        position: relative;
        top: 17vh;
    }

    ion-item{
        background-color: inherit !important;
        font-size: 2rem  !important;
    }

    .item-inner{
        margin-right: 16px;
    }

    .text-danger{
        color: maroon;
        font-size: 14px;
        margin-left: 5%;
    }
}