login{

    ion-card-title{
        background-color: #4786b9;
        color: white !important;
        font-style: italic;
    }

    ion-content{
        top: 25%;
    }

    button.button.button-md.button-default.button-default-md {
        margin-left: 40%;
    }
}