register{
        ion-card-title{
            background-color: #4786b9;
            color: white !important;
            font-style: bold;
            font-size: 16px !important;
        }
    
        @media only screen and (min-width: 768px) {
            
        }
    
        button.button.button-md.button-default.button-default-md {
            margin-left: 40%;
        }
    }