register{
    ion-navbar {
        min-height: 45px !important;
    }

    ion-item{
        background-color: inherit !important;
        font-size: 2rem  !important;
    }

    .item-inner{
        margin-right: 16px;
    }

    .text-danger{
        color: maroon;
        font-size: 14px;
        margin-left: 5%;
    }
}