page-tabs {
    .tabbar {
        -webkit-box-shadow: 1px 4px 2px 2px #488aff, 0px 5px 1px 4px #488aff, 5px 1px 10px 1px rgba(0, 0, 0, 0.12) !important;
        box-shadow: 1px 4px 2px 2px #488aff, 0px 5px 1px 4px #488aff, 5px 1px 10px 1px rgba(0, 0, 0, 0.12) !important;
        background: #fff !important;
        border-top: none !important;
        height: 8% !important;
    }
    .tab-button {
        color: #488aff !important;
        font-weight: bold !important;
        min-height: inherit !important;
        margin-top: 1%;
    }
    .tab-button-icon {
        font-size: large !important;
        height: inherit !important;
        color: #488aff !important;
    }
    .tab-button-text {
        font-size: small !important;
        margin-bottom: 5px !important;
    }
    .tab-button[aria-selected=true] {
        border-color: #488aff !important;
        color: #488aff !important;
        padding: 0;
        opacity: 1;
    }
    .tab-button[aria-selected=true] .tab-button-icon {
        color: #488aff !important;
    }
}