<ion-header>
    <ion-navbar color="primary">
        <ion-title text-center text-uppercase>
            Job Posts
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="popOver($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-searchbar [(ngModel)]="search_value" [showCancelButton]="shouldShowCancel" (ionInput)="SearchJobPosts($event)" (ionCancel)="CancelSearchJobPosts($event)" placeholder="Search here...">
    </ion-searchbar>
</ion-header>

<ion-content>
    <div (swipe)="swipeEvent($event)" *ngIf="connection; else noconn">
        <div *ngFor="let jp of jobposts">
            <ion-card>

                <ion-item>
                    <ion-avatar item-start>
                        <img src="{{jp.emp_picture}}" alt="logo">
                    </ion-avatar>
                    <h2>{{jp.emp_company}}</h2>
                    <p>{{jp.job_position}}</p>
                </ion-item>

                <blockquote class="blockquote">
                    <p class="card-text">{{jp.skills_req}}</p>
                    <footer class="blockquote-footer">Skills Required</footer>
                </blockquote>

                <blockquote class="blockquote">
                    <p class="card-text">{{refactor(jp.job_description)}}</p>
                    <footer class="blockquote-footer">Job Description</footer>
                </blockquote>

                <ion-row>
                    <ion-col>
                        <button ion-button clear small>
                            <div>More Details</div>
                        </button>
                    </ion-col>
                    <ion-col>
                        <button ion-button clear small>
                            <div>Apply</div>
                        </button>
                    </ion-col>
                    <ion-col center text-center>
                        <button ion-button color="dark" clear small text-lowercase>
                            <ion-note>{{DisplayTodayAndYesterday(jp.numofdays)}}</ion-note>
                        </button>
                    </ion-col>
                </ion-row>

            </ion-card>
        </div>
    </div>
    <ng-template #noconn>
        <div>
            <ion-card margin-top>
                <ion-item text-center>
                    No internet connection!
                </ion-item>
                <ion-item text-center>
                    <button ion-button (click)="ngOnInit()" color="primary">
                        Refresh
                    </button>
                </ion-item>
            </ion-card>
        </div>
    </ng-template>
</ion-content>