page-home {
    ion-content {
        background-color: #4786b9 !important;
    }
    ion-card-header {
        font-size: 1.5em !important;
    }
    ion-card {
        border-radius: 5px !important;
    }
    .profile {
        padding: 5px 0px 0px 0px;
        background: transparentize($color: rgba(243, 205, 166, 0.918), $amount: 0) !important;
    }
    ion-card img {
        width: 200px;
        height: 200px;
        background-size: cover;
        display: block;
        border-radius: 100px;
        margin: 0 auto;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
    }
    ion-card-content {
        margin: 0 auto !important;
        font-size: 2.2rem !important;
        text-align: center
    }
    ion-icon {
        font-size: 25px;
        font-weight: 500;
    }
    ion-icon[name="add"],
    ion-icon[name="add-circle"] {
        float: right;
        padding: 10px;
        font-size: 30px;
        color: #32db64;
        font-weight: bolder;
    }
    ion-icon[name="power"] {
        font-size: 30px;
        margin-right: 2%;
        color: red;
        position: absolute;
        top: 20%;
        left: 91%;
    }
    ion-icon[name="briefcase"],
    ion-icon[name="school"],
    ion-icon[name="checkmark-circle"] {
        font-size: 2.6em;
    }
    .scroll-content {
        padding: 2px !important;
    }
    ion-badge {
        font-size: 16px;
    }
}