profile {
    button[type="submit"] {
        margin-left: 40%;
    }
    ion-icon[name="remove-circle"] {
        font-size: 28px;
        color: red;
    }
    ion-label[title="Experience"],
    ion-label[title="Education"] {
        font-size: 20px;
    }
    .text-danger {
        color: maroon;
        font-size: 14px;
        margin-left: 5%;
    }
    ion-select {
        width: 100% !important;
    }
}