<ion-header>
    <ion-toolbar>
      <ion-title>
        {{viewEdit}}
      </ion-title>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span ion-text color="primary" >Cancel</span>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
    <form [formGroup]="profile" (ngSubmit)="logForm()" *ngIf="viewEdit == 'Profile Name'" >
        <ion-item>
          <ion-label>Profile Image</ion-label>
          <ion-input type="text" formControlName="title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Description</ion-label>
          <ion-textarea formControlName="description"></ion-textarea>
        </ion-item>
        <button ion-button type="submit" [disabled]="!profile.valid">Submit</button>
      </form>

      <form [formGroup]="expedu" (ngSubmit)="logForm()" *ngIf="viewEdit == 'Experience And Education'" >
        <ion-item>
          <ion-label>Profile Image</ion-label>
          <ion-input type="text" formControlName="title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Description</ion-label>
          <ion-textarea formControlName="description"></ion-textarea>
        </ion-item>
        <button ion-button type="submit" [disabled]="!expedu.valid">Submit</button>
      </form>

      <form [formGroup]="skills" (ngSubmit)="logForm()" *ngIf="viewEdit == 'Featured Skills And Endorsements'" >
        <ion-item>
          <ion-label>Profile Image</ion-label>
          <ion-input type="text" formControlName="title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Description</ion-label>
          <ion-textarea formControlName="description"></ion-textarea>
        </ion-item>
        <button ion-button type="submit" [disabled]="!skills.valid">Submit</button>
      </form>

  </ion-content>